<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <general>
                <enable>1</enable>
                <cron_enable>1</cron_enable>
                <logs>1</logs>
                <logs_detailed>0</logs_detailed>
            </general>
            <api>
                <provider>open_weather_map</provider>
                <city>lublin</city>
            </api>
            <open_weather_map>
                <unit>imperial</unit>
                <language>en</language>
            </open_weather_map>
        </weather>
    </default>
</config>